/* Chatbox.css */

body {
    background-color: #000000; /* Set the background color to black */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .chatbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure items are spaced out */
    align-items: center;
    background-color: #813886;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    max-width: 100%; /* Increased width */
    margin: 0 auto;
    height: 90vh;
    box-sizing: border-box;
  }
  
  
  .chatbox-header {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .chatbox-logo {
    max-width: 50px;
    height: auto;
  }
  
  .chatbox-messages {
    width: 100%;
    flex-grow: 1; /* Allow messages to grow and take available space */
    overflow-y: auto;
    margin-bottom: 10px;
    background-color: #f9f4f3;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
  }
  
  .chatbox-message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .chatbox-message-user {
    align-self: flex-end;
    background-color: #8b4b8c;
    color: #ffffff;
  }
  
  .chatbox-message-bot {
    align-self: flex-start;
    background-color: #813886;
    color: #ffffff;
  }
  
  .chatbox-input {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .chatbox-input input {
    flex: 1;
    padding: 8px;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
  }
  
  .chatbox-input button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #ff007f;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .chatbox-input button:hover {
    background-color: #e00073;
  }
  
  .end-chat-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
  }
  
  .end-chat-button:hover {
    background-color: #c82333;
  }
  
  @media (max-width: 600px) {
    .chatbox-container {
      padding: 10px;
      max-width: 100%;
    }
  
    .chatbox-input input {
      padding: 8px;
    }
  
    .chatbox-input button {
      padding: 8px 15px;
    }
  
    .end-chat-button {
      padding: 8px 15px;
    }
  }
  