body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2C003E;
}

.chat-container {
    width: 100%;
    max-width: 450px; /* Adjusted for smaller screens */
    height: 100%;
    background-color: #8E2DE2;
   
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    padding: 10px;
    background-color: #8E2DE2;
}

.back-button {
    background: none;
    border: none;
    color: white;
    justify-content: flex-start; /* Aligns button to the left */
    font-size: 18px;
    cursor: pointer;
    margin-right: auto; /* Pushes the button to the left */
}

.chatbot-icon {
    color: white;
    font-size: 24px;
    margin-left: 10px; /* Adjust margin if needed */
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.bot-message {
    background-color: #cfcfcf;
    align-self: flex-start;
}

.user-message {
    background-color: #9d3f9d;
    color: white;
    align-self: flex-end;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #8E2DE2;
    position: sticky;
    bottom: 0;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px; /* Added margin for spacing */
}

.send-button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

@media (max-width: 400px) {
    .chat-container {
        border-radius: 0;
    }

    .chat-header {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .chat-input {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
