body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.submitted-container {
    width: 90%;
    max-width: 400px;
    text-align: center;
    background-color: #b648ce; /* Violet background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.submitted-container img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.submitted-container h1 {
    font-size: 24px;
}
